{% extends 'base.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'styles/cart.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'styles/cart_responsive.css' %}">
{% endblock %}

{% block content %}
<!-- Home -->

<div class="home">
  <div class="home_container">
    <div class="home_background" style="background-image:url({% static 'images/cart.jpg' %})"></div>
    {% if messages %}
    <div class="container">
      <div class="row">
        <div class="col">
          {% for message in messages %}
            <div class="alert alert-{% if message.level == 25 %}success collapse{% else %}danger fade show{% endif %} alert-dismissible" role="alert">
              <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
              {{message}}
            </div>
          {% endfor %}
        </div>
      </div>
    </div>
    {% endif %}
    <div class="home_content_container">
      <div class="container">
        <div class="row">
          <div class="col">
            <div class="home_content">
              <div class="breadcrumbs">
                <ul>
                  <li><a href="{% url 'home' %}">Home</a></li>
                  <li>Shopping Cart</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Cart Info -->

<div class="cart_info">
  <div class="container">
    <div class="row">
      <div class="col">
        <!-- Column Titles -->
        <div class="cart_info_columns clearfix">
          <div class="cart_info_col cart_info_col_product">Product</div>
          <div class="cart_info_col cart_info_col_price">Price</div>
          <div class="cart_info_col cart_info_col_quantity">Quantity</div>
          <div class="cart_info_col cart_info_col_total">Total</div>
        </div>
      </div>
    </div>
    <div class="row cart_items_row">
      <div class="col">

        {% if cart.items.exists %}
          {% for item in cart.items.all %}
          <!-- Cart Item -->
          <div class="cart_item d-flex flex-lg-row flex-column align-items-lg-center align-items-start justify-content-start">
            <!-- Name -->
            <div class="cart_item_product d-flex flex-row align-items-center justify-content-start">
              <div class="cart_item_image">
                <div><img src="{{ item.product.main_image.url }}" alt="No image"></div>
              </div>
              <div class="cart_item_name_container">
                <div class="cart_item_name"><a href="{% url 'products:product_detail' pk=item.product.pk %}">{{item.product.name}}</a></div>
                <div class="cart_item_edit"><a href="{% url 'cart:remove_from_cart' item_pk=item.pk qty=item.quantity %}">Remove from cart</a></div>
              </div>
            </div>
            <!-- Price -->
            <div class="cart_item_price">${{item.product.new_price}}</div>
            <!-- Quantity -->
            <div class="cart_item_quantity">
              <div class="product_quantity_container">
                <div class="product_quantity clearfix">
                  <span>Qty</span>
                  <input class="quantity_input" type="text" pattern="[0-9]*" value="{{ item.quantity }}">
                  <div class="quantity_buttons">
                    <a href="{% url 'cart:add_to_cart' product_pk=item.product.pk qty=1 %}" ><div class="quantity_inc quantity_control"><i class="fa fa-chevron-up" aria-hidden="true"></i></div></a>
                    <a href="{% url 'cart:remove_from_cart' item_pk=item.pk qty=1 %}" ><div class="quantity_dec quantity_control"><i class="fa fa-chevron-down" aria-hidden="true"></i></div></a>
                  </div>
                </div>
              </div>
            </div>
            <!-- Total -->
            <div class="cart_item_total">${{ item.total_price }}</div>
          </div>
          {% endfor %}
        {% else %}
        <br>
        <div class="section_title">Cart is empty! Change it quickly!</div>
        {% endif %}
      </div>
    </div>
    <div class="row row_cart_buttons">
      <div class="col">
        <div class="cart_buttons d-flex flex-lg-row flex-column align-items-start justify-content-start">
          <div class="button continue_shopping_button"><a href="{% url 'home' %}">Continue shopping</a></div>
          <div class="cart_buttons_right ml-lg-auto">

            <div class="button clear_cart_button"><a {% if not cart.items.exists %}style="pointer-events: none;"{% endif %} href="{% url 'cart:clear_cart' pk=cart.pk %}">Clear cart</a></div>

          </div>
        </div>
      </div>
    </div>
    <div class="row row_extra">
      <div class="col-lg-4">

        <!-- Delivery -->
        <div class="delivery">
          <div class="section_title">Shipping method</div>
          <div class="section_subtitle">Select the one you want</div>
          <div class="delivery_options">
            <label class="delivery_option clearfix">Next day delivery
              <input type="radio" name="radio">
              <span class="checkmark", id="fast_delivery"></span>
              <span class="delivery_price">$4.99</span>
            </label>
            <label class="delivery_option clearfix">Standard delivery
              <input type="radio" name="radio">
              <span class="checkmark", id="common_delivery"></span>
              <span class="delivery_price" id="common_delivery_price">$1.99</span>
            </label>
            <label class="delivery_option clearfix">Personal pickup
              <input type="radio" checked="checked" name="radio">
              <span class="checkmark" id="free_delivery"></span>
              <span class="delivery_price">$0</span>
            </label>
          </div>
        </div>

        <!-- Coupon Code -->
        <!-- <div class="coupon">
          <div class="section_title">Coupon code</div>
          <div class="section_subtitle">Enter your coupon code</div>
          <div class="coupon_form_container">
            <form action="#" id="coupon_form" class="coupon_form">
              <input type="text" class="coupon_input" required="required">
              <button class="button coupon_button"><span>Apply</span></button>
            </form>
          </div>
        </div> -->
      </div>

      <div class="col-lg-6 offset-lg-2">
        <div class="cart_total">
          <div class="section_title">Cart total</div>
          <div class="section_subtitle">Final info</div>
          <div class="cart_total_container">
            <ul>
              <li class="d-flex flex-row align-items-center justify-content-start">
                <div class="cart_total_title">Subtotal</div>
                <div class="cart_total_value ml-auto" id="subtotal_price">${{ cart.total_price }}</div>
              </li>
              <li class="d-flex flex-row align-items-center justify-content-start">
                <div class="cart_total_title">Shipping</div>
                <div class="cart_total_value ml-auto" id="shipping_price">$0</div>
              </li>
              <li class="d-flex flex-row align-items-center justify-content-start">
                <div class="cart_total_title">Total</div>
                <div class="cart_total_value ml-auto" id="total_price">${{ cart.total_price }}</div>
              </li>
            </ul>
          </div>
          <div class="button checkout_button"><a {% if not cart.items.exists %}style="pointer-events: none;"{% endif %} href="{% url 'cart:checkout' pk=cart.pk %}">Proceed to checkout</a></div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block subscribe %}
{% endblock %}

{% block scripts %}
<script src="{% static 'js/cart.js' %}"></script>
{% endblock %}
