{% extends 'base.html' %}

{% load static %}
{% load widget_tweaks %}

{% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'styles/contact.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'styles/contact_responsive.css' %}">
{% endblock %}

{% block content %}
	<!-- Home -->

	<div class="home">
		<div class="home_container">
			<div class="home_background" style="background-image:url({% static 'images/contact.jpg' %})"></div>
			{% if messages %}
			<div class="container">
				<div class="row">
					<div class="col">
						{% for message in messages %}
							<div class="alert alert-success alert-dismissible fade show" role="alert">
								<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
								{{message}}
							</div>
						{% endfor %}
					</div>
				</div>
			</div>
			{% endif %}
			<div class="home_content_container">
				<div class="container">
					<div class="row">
						<div class="col">
							<div class="home_content">
								<div class="breadcrumbs">
									<ul>
										<li><a href="{% url 'home' %}">Home</a></li>
										<li>Log In</li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- Contact -->

	<div class="contact">
		<div class="container">
			<div class="row">

				<!-- Get in touch -->
				<div class="col-lg-8 container">
					<div class="get_in_touch">
						<div class="section_title">Log In</div>
						<div class="section_subtitle">Enter your username and password to login or follow the link below to register.</div>
						<div class="contact_form_container">
							<form id="contact_form" class="contact_form" method="post">
								{% csrf_token %}
								<div class="row">
									<div class="col-xl-6">
										<!-- Name -->
										<label for="{{ form.username.id_for_label }}">User Name*</label>
										{{form.username|add_class:"contact_input"}}
                    <a href="{% url 'accounts:signup' %}">Please click here to register!</a>
									</div>
									<div class="col-xl-6 last_name_col">
										<!-- Password -->
										<label for="{{ form.password.id_for_label }}">Password*</label>
										{{form.password|add_class:"contact_input"}}
									</div>

								</div>
								<button type="submit" class="button contact_button"><span>Log In</span></button>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

{% endblock %}
{% block subscribe %}
{% endblock %}

{% block scripts %}
<script src="{% static 'js/contact.js' %}"></script>
{% endblock %}
